/* You can add global styles to this file, and also import other style files */

body {
  font-size: 13px;
  font-family: "Arial";
}

.content-wrapper, .right-side {
  /* height: calc(100vh - 50px); */
  /* height: 100vh; */
}

.list-inline>li {
  padding-left: 1px;
  padding-right: 1px;
}

.menu-header>ul>li>a {
  padding: 10px 5px;
  background: #33749e;
  border-radius: 5px;
}

.menu-header>ul>li>a:hover {
  background: #ffa026;
  border-radius: 5px;
}

.menu-header .active {
  background: #ffa026;
  border-radius: 5px;
}

.sidebar {
  /* height: calc(100vh - 50px); */
  height: 100vh;
  overflow: auto;
}

.sidebar-collapse .sidebar {
  overflow: visible;
}

.table>tbody>tr>td {
  padding: 5px;
}

.table-hover>tbody>tr:hover {
  background: #c8ecfb;
}

.form-control {
  height: 28px;
  padding: 4px 5px;
  font-size: 13px;
  border-radius: 0px;
}

.form-group {
  margin-bottom: 4px;
}

label {
  margin-bottom: 3px;
}

.modal-body {
  padding: 5px 15px 5px 15px;
}

.form-horizontal .form-group {
  margin-right: -10px;
  margin-left: -10px;
}

.footer-phantrang {
  padding: 5px;
  padding-top: 0px;
}

.footer-phantrang .pagination {
  padding-top: 5px;
  margin: 0px;
  padding-right: 5px;
}

.footer-phantrang .dataTables_info {
  padding-top: 10px;
  padding-left: 5px;
}

.table-checkbox {
  width: 40px;
  text-align: center;
}

.table-checkbox .container-radio {
  width: 25px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  padding: 5px;
  vertical-align: middle;
}

.box-footer {
  padding: 5px 10px;
}

.date-ngay .form-group {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

.select-chon .select2 {
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #3c8dbc;
}

.select-chon .select2 .selection .select2-selection {
  border-radius: 0px;
  border: 1px solid #d3d6df;
  padding: 0px;
  padding-top: 3px;
  height: 28px;
}

.select-chon-chitiet .select2 .selection .select2-selection {
  border: none;
}

.control-label {
  font-weight: 600;
  padding-right: 0px;
  padding-left: 0px;
}

.textrea-size {
  resize: none;
}

.trang-thai {
  width: 80px;
}

.well {
  margin-bottom: 10px;
}

.box-body {
  padding: 5px;
}

.img-folder {
  /* background-image: url('assets/img/folder.svg'); */
  height: 18px;
  width: 18px;
  margin-right: 5px;
  padding-bottom: 3px;
}

.toggle-children-placeholder {
  width: 13px;
}

.error {
  color: red;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbr-track {
  background-color: #d2d6de;
}

::-webkit-scrollbar-thumb {
  background-color: #a19e96;
}

.box-chieu-cao {
  margin-bottom: 0px;
}

.box-chieu-cao>.box-body {
  height: calc(100vh - 160px);
}

.box-chieu-cao .table tbody {
  height: calc(100vh - 200px);
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  width: calc(100% - 12px);
}

.box-chieu-cao .table tbody tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}

.box-chieu-cao .table thead tr {
  width: calc(100% - 5px);
  display: inline-table;
  table-layout: fixed;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  padding: 3px 5px;
}

.box-chieu-cao .box-title {
  height: 30px;
}

/* .modal{
    background: none;
} */

.content {
  padding: 5px;
}

.date a {
  padding: 3px;
}

.date .btn {
  border-radius: 0px;
}

.btn-sm, .btn-group-sm>.btn {
  padding: 4px 10px;
}

.kieu-so {
  text-align: right;
}

.image-page .pagination {
  margin: 0px;
}

.modal-header {
  padding: 5px;
  background: #3c8dbc;
}

.modal-header .modal-title {
  color: white;
}

.modal-header .close {
  margin-top: 0px;
  margin-right: 5px;
}

.modal-content {
  border: 2px solid #3c8dbc;
}

.tab-content {
  padding-top: 5px;
}

table thead th {
  text-align: center;
}

.alertify .ajs-modal {
  z-index: 9999;
}

.column-trang-thai {
  width: 100px;
}

.column-ngay {
  width: 120px;
}

.modal {
  background: none;
}

.tableFixHead {
  overflow: auto;
}

.tableFixHead th {
  position: sticky;
  top: 0px;
  z-index: 7;
  background: #bfbfbf;
}

.dropdown-menu.dropdown-context {
  z-index: 99999999;
}

.sothutu {
  width: 40px;
  text-align: center;
}

.select2-selection__rendered {
  padding: 0;
}

.modal-body .nav-tabs>li>a.active {
  background: #3c8dbcde;
  color: #fff;
}

.modal-body .nav-tabs>li>a {
  padding: 6px 8px;
}

.tabDuAn .tab-content {
  height: 580px;
}

.hover-color:hover {
  background-color: orange;
}
