<div class="select-tree" (appClickOutside)="onClickedOutside($event)">
    <div class="text-group">
        <div (click)="myClick()">
          <span>
              {{text}}
          </span>
        </div>
        <span class="icon">
          <i [ngClass]="listCheck? 'fa fa-caret-up': 'fa fa-caret-down'" (click)="myClick()"></i>
        </span>
      </div>
      <div *ngIf="listCheck">
        <div class="div-box">
          <input type="text" (keyup)="search($event)" name="tree-search" focus autocomplete="off">
          <div class="scroll-div-box">
          <div treerow *ngFor="let item of listItemSearch" [listItem]="item" [level]="0" [itemSelect]="itemSelect"></div>
        </div>
        </div>
      </div>
</div>