.select-tree{
    width: 100%;
    position: relative;
}

.div-box input {
    width: 100%;
    margin-bottom: 3px;
    height: 30px;
    padding: 4px 6px;
    border: 1px solid #d3d6df;
}
.text-group .icon {
    float: right;
}

.text-group .icon>i {
    cursor: pointer;
}
.text-group div {
    width: 100%;
    cursor: pointer;
    height: 30px;
    padding: 4px 18px 4px 6px;
    border: 1px solid #d3d6df;
}

.text-group div span{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-group .icon>i {
    margin-top: -20px;
    position: absolute;
    margin-left: -15px;
    color: #898887
}
.div-box {
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 400px;
    z-index: 1000;
    position: absolute;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}
  
.scroll-div-box{
    max-height: 300px;
    overflow: auto;
}
.td-unset-vertical-align{
    vertical-align: unset !important;
}
