.tree-row:hover{
    background: #5897fb;
    color: #ffffff;
}

.tree-row-dong {
    background: #b9bbbd;
}
.tree-row {
    float: none;
    cursor: pointer;
    /* border-bottom: 1px solid #d2d6de; */
}

.botton-expanded {
    float: left;
    font-size: 16px;
    padding: 5px;
}
.tree-row-select {
    padding: 5px;
}
.tree-disable{
    background: #787879;
}