<div [ngClass]="listItem.id == itemSelect?'tree-row-dong tree-row': 'tree-row'" [class]="listItem.disable?'tree-disable':''">
  <div [ngStyle]="{'margin-left':level*20 + 'px'}">
    <i *ngIf="listItem.children?.length>0" [ngClass]="listItem.expanded?'fa fa-caret-down botton-expanded':'fa fa-caret-right botton-expanded'" (click)="listItem.expanded = !(listItem.expanded)"></i>
    <div (click)="changeValue(listItem.text, listItem.id, listItem.disable)" class="tree-row-select">
      {{listItem.text}}
    </div>
  </div>
</div>

<div *ngIf="listItem.children?.length > 0 && listItem.expanded">
  <div treerow *ngFor="let item of listItem.children" [listItem]="item" [level]="level + 1" [itemSelect]="itemSelect">
  </div>
</div>