<header class="main-header">
  <!-- Logo -->
  <a href="javascript:void(0);" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <b>HT</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <b>HỆ THỐNG</b>
    </span>
  </a>
  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <div class="menu-header">
      <ul class="list-inline left-ul">
        <li *ngFor="let item of functions">
          <a routerLinkActive="active" routerLink="{{item.Url}}" (click)="activeMenu(item.IdFunction)">
            <i class="{{item.IconCss}}"></i>
            {{item.Name}}</a>
        </li>
      </ul>
    </div>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <!-- Messages: style can be found in dropdown.less-->
        <!-- <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-success">4</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 4 messages</li>
            <li>
              <ul class="menu">
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="./assets/img/avatar5.png" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Support Team
                      <small>
                        <i class="fa fa-clock-o"></i> 5 mins</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer">
              <a href="#">See All Messages</a>
            </li>
          </ul>
        </li> -->
        <!-- Notifications: style can be found in dropdown.less -->
        <!-- <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">10</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 10 notifications</li>
            <li>
              <ul class="menu">
                <li>
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer">
              <a href="#">View all</a>
            </li>
          </ul>
        </li> -->
        <!-- Tasks: style can be found in dropdown.less -->
        <!-- User Account: style can be found in dropdown.less -->
        <li>
          <a href="http://cuckinhtexd.gov.vn/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i> Cổng thông tin</a>
        </li>
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{baseFolder + user.avatar}}" class="user-image" alt="{{user.fullName}}">
            <span class="hidden-xs">{{user.fullName}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="{{baseFolder + user.avatar}}" class="img-circle" alt="User Image">
              <p>
                {{user.fullName}}
                <small>{{user.username}}</small>
              </p>
            </li>
            <!-- Menu Body -->
            <!-- <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Friends</a>
                </div>
              </div>
            </li> -->
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="javascript:void(0);" class="btn btn-default btn-flat" (click)="showEditPassModal()">Đổi mật
                  khẩu</a>
              </div>
              <div class="pull-right">
                <a href="javascript:void(0);" class="btn btn-default btn-flat" (click)="logout()">Thoát</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <!-- <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li> -->
      </ul>
    </div>
  </nav>
</header>

<!-- Model đổi mật khẩu -->
<div bsModal #modalEditPass="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true" (onShown)="onShow($event)">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Đổi mật khẩu</h4>
        <button type="button" class="close pull-right" (click)="modalEditPass.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChangePass(addEditForm.valid)"
          *ngIf="entity">
          <div class="box-body">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">Mật khẩu cũ</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" #currentPassword="ngModel"
                  pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" [(ngModel)]="entity.currentPassword" required
                  minlength="6" name="currentPassword" placeholder="Nhập mật khẩu cũ" focus />
                <small [hidden]="currentPassword.valid || (currentPassword.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Mật khẩu phải lớn hơn 6 ký tự có chữ thường, chữ hoa và số
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">Mật khẩu mới</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" #password="ngModel"
                  pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" [(ngModel)]="entity.Password" required
                  minlength="6" name="password" placeholder="Nhập mật khẩu mới" />
                <small [hidden]="password.valid || (password.pristine && !addEditForm.submitted)" class="text-danger">
                  Mật khẩu phải lớn hơn 6 ký tự có chữ thường, chữ hoa và số
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">Xác nhận mật khẩu</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" #confirmpassword="ngModel"
                  [(ngModel)]="entity.ConfirmPassword" required validateEqual="password" name="confirmpassword"
                  placeholder="Nhập lại mật khẩu mới" />
                <small [hidden]="confirmpassword.valid || (confirmpassword.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Xác nhận mật khẩu sai
                </small>
              </div>
            </div>
          </div>
          <div class="box-footer text-right">
            <button type="submit" class="btn btn-primary"
              [disabled]="!addEditForm.form.valid || entity.Password != entity.ConfirmPassword">Lưu</button>
            <button type="button" (click)="modalEditPass.hide()" class="btn btn-danger">Hủy</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>