.menu-header>ul>li>a {
    padding: 10px 5px;
    background: none;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #FFF;
}
.menu-header{
    float: left;
}
.menu-header>ul
{
    margin-top: 16px;
}
.menu-header .active {
    background: #ffa026a3 !important;
}