<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">Menu</li>
      <!-- <li>
        <a routerLink="/main/home" routerLinkActive="active">
          <i class="fa fa-th"></i> <span>Trang chủ</span>
        </a>
      </li> -->
      <li *ngFor="let item of functions" [class]="item.children.length>0?'treeview': ''">
        <a href="#" *ngIf="item.children.length > 0">
          <i class="fa {{item.IconCss}}" [style.color]="item.Color? item.Color: '#444'"></i> <span> {{item.Name}}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" *ngIf="item.children.length > 0">
          <li *ngFor="let subItem of item.children"><a routerLink="{{subItem.Url}}" routerLinkActive="active"><i
                class="fa {{subItem.IconCss}}" [style.color]="subItem.Color? subItem.Color: '#444'"></i>
              {{subItem.Name}}</a></li>
        </ul>
        <a *ngIf="!(item.children.length > 0)" routerLink="{{item.Url}}" routerLinkActive="active"><i
            class="fa {{item.IconCss}}" [style.color]="item.Color? item.Color: '#444'"></i> <span>
            {{item.Name}}</span></a>
      </li>
      <!-- <li *ngFor="let item of functions" [class]="item.children.length>0?'sub-menu active': ''">
        <a href="javascript:void(0);" *ngIf="item.children.length > 0">
            <i class="fa {{item.IconCss}}"></i>
            <span> {{item.Name}}</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-right pull-right"></i>
              </span>
        </a>
        <ul *ngIf="item.children.length > 0" class="treeview-menu menu-open">
            <li *ngFor="let subItem of item.children" >
                <a routerLink="{{subItem.Url}}" routerLinkActive="active">
                    <i class="fa {{subItem.IconCss}}"></i> {{subItem.Name}}</a>
            </li>
        </ul>
        <a *ngIf="!(item.children.length > 0)" routerLink="{{item.Url}}" routerLinkActive="active">
            <i class="fa {{item.IconCss}}"></i>
            <span> {{item.Name}}</span>
        </a>
    </li> -->
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>