<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Phiên bản</b> 1.0.0
  </div>
  <strong>Copyright &copy; 2019 <a href="http://abc.vn">ABC</a>.</strong> All rights
  reserved.
</footer>